<div id="<%= dom_id training %>">
  <p>
    <strong>User:</strong>
    <%= training.user_id %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= training.datetime %>
  </p>

  <p>
    <strong>Part:</strong>
    <%= training.part %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= training.content %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= training.memo %>
  </p>

  <p>
    <strong>Body weight:</strong>
    <%= training.body_weight %>
  </p>

  <p>
    <strong>Body fat:</strong>
    <%= training.body_fat %>
  </p>

</div>
