
<% if controller_name != 'sessions' %>
  <%= link_to "ログイン", new_user_session_path, class: button_class %><br />
<% end %>

<br>

<% if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "サインアップ", new_member_registration_path(resource_name), class: button_class %><br />
<% end %>

<br>

<% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "パスワードを忘れた方", new_password_path(resource_name), class: button_class %><br />
<% end %>

<br>

<% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "確認メールを再送するにはこちら", new_user_confirmation_path(resource_name), class: button_class %><br />
<% end %>

<br>

<% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "アカウントのロックを解除するには、こちらをクリックしてください", new_unlock_path(resource_name), class: button_class %><br />
<% end %>

<br>

<% if devise_mapping.omniauthable? %>
  <% resource_class.omniauth_providers.each do |provider| %>
    <div class="flex justify-center">
      <%= button_to user_line_omniauth_authorize_path(role: "member"), method: :post, data: { turbo: false }, class: "line-login-button" do %>
        <div class="line-login-logo">
          <%= image_tag 'line/line_32.png', alt: 'LINEロゴ', size: "24x24" %>
        </div>
        <div class="line-login-text">
          LINEでログイン
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
