<div class="max-w-xl mx-auto bg-gray-100 shadow-md rounded-lg p-6 mt-8 space-y-4 text-gray-800">
  <h2 class="text-2xl font-bold text-gray-800 mb-4">プロフィール</h2>

  <div class="mb-4">
    <p class="text-sm text-gray-500 mb-1">所属チーム</p>

    <% if @user == current_user && current_user.team_id.nil? && TeamJoinRequest.exists?(user_id: current_user.id, status: :pending) %>
      <p class="text-lg font-medium text-orange-500">申請中</p>

    <% elsif @user.team.present? %>
      <p class="text-lg font-medium"><%= @user.team.name %></p>

    <% else %>
      <p class="text-lg font-medium text-gray-500">チームに所属していません</p>
   <% end %>
  </div>

  <div>
    <p class="text-sm text-gray-500 mb-1">氏名</p>
    <p class="text-lg font-medium"><%= @user.last_name %> <%= @user.first_name %></p>
  </div>

  <div>
    <p class="text-sm text-gray-500 mb-1">ポジション</p>
    <p class="text-lg font-medium">
      <%= @user.position&.name || "未設定" %>
    </p>
  </div>

  <div>
    <p class="text-sm text-gray-500 mb-1">情報</p>
    <p class="text-lg font-medium"><%= @user.introduction %></p>
  </div>

  <div>
    <p class="text-sm text-gray-500 mb-1">登録日</p>
    <p class="text-lg"><%= @user.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>
  </div>

  <div>
    <p class="text-sm text-gray-500 mb-1">最終更新日</p>
    <p class="text-lg"><%= @user.updated_at.strftime("%Y年%m月%d日 %H:%M") %></p>
  </div>

  <div class="pt-4">
    <%= link_to "プロフィール編集", edit_profile_path(current_user), class: "inline-block text-blue-600 hover:underline font-semibold" %>
  </div>

  <div class="pt-4">
    <%= link_to "パスワード・メールアドレス の変更 / アカウントの削除", edit_user_registration_path(current_user), class: "inline-block text-blue-600 hover:underline font-semibold" %>
  </div>
</div>
