
<div class="max-w-md mx-auto mb-6">
  <label for="userSelect" class="block text-sm font-bold text-gray-700 mb-1">選手を選択</label>
  <select id="userSelect" class="w-full border border-gray-300 rounded px-4 py-2 bg-white text-black focus:outline-none focus:ring-2 focus:ring-blue-500">
    <option value="">選手を選択</option>
    <% @grouped_members.each do |position, members| %>
      <optgroup label="--- <%= position.short_name %> ---">
        <% members.each do |member| %>
          <option value="<%= member.id %>" <%= "selected" if @selected_user_id == member.id %>>
            <%= member.last_name %> <%= member.first_name %>
          </option>
        <% end %>
      </optgroup>
    <% end %>
  </select>
</div>



<div id="orientationWarning" class="text-orange-300 text-sm text-center mt-2 hidden sm:hidden">
  ※ 横向きにするとグラフが見やすくなります
</div>

<div class="p-4 space-y-8">
  <!-- ✅ チェックボックス -->
  <div class="bg-gray-800 p-4 rounded shadow max-w-full mx-auto">
    <div class="flex flex-wrap text-white gap-4 mb-4">
      <label><input type="checkbox" class="event-check" value="ベンチプレス" checked> ベンチプレス</label>
      <label><input type="checkbox" class="event-check" value="スクワット" checked> スクワット</label>
      <label><input type="checkbox" class="event-check" value="デッドリフト" checked> デッドリフト</label>
      <label><input type="checkbox" class="event-check" value="クリーン" checked> クリーン</label>
    </div>
    <div class="w-full overflow-x-auto">
  <div class="min-w-[600px]">
    <canvas id="maxChart" class="w-full h-[300px] sm:h-[300px] md:h-[400px] bg-white rounded"></canvas>
  </div>
</div>
    <div id="maxChartNoData" class="text-center text-gray-500 mt-4 hidden">データがありません</div>
  </div>


  <div class="bg-gray-800 p-4 rounded shadow max-w-full mx-auto">
    <canvas id="bodyChart" class="w-full min-h-[300px] sm:min-h-[300px] md:min-h-[400px] bg-white rounded"></canvas>
    <div id="bodyChartNoData" class="text-center text-gray-500 mt-4 hidden">データがありません</div>
  </div>
</div>

<div data-controller="date-preset" class="max-w-md mx-auto text-center">
  <label class="block text-sm mb-2 text-gray-300">期間</label>
  <select
    data-date-preset-target="preset"
    data-action="change->date-preset#update"
    class="w-full bg-gray-100 text-gray-800 p-2 rounded shadow text-center">
    <option value="7">直近7日間</option>
    <option value="30">直近30日間</option>
    <option value="90">直近3ヶ月</option>
    <option value="180">直近6ヶ月</option>
    <option value="custom">カスタム日付を選ぶ</option>
  </select>

  <div class="mt-2 grid grid-cols-2 gap-4">
    <input type="date" data-date-preset-target="start" id="startDate"
      class="bg-gray-100 text-gray-800 p-2 rounded shadow text-center" disabled />
    <input type="date" data-date-preset-target="end" id="endDate"
      class="bg-gray-100 text-gray-800 p-2 rounded shadow text-center" disabled />
  </div>
</div>

