<div class="max-w-lg mx-auto p-4 sm:p-6 bg-white rounded shadow text-sm sm:text-base">
  <h2 class="text-xl font-bold mb-4">チーム参加リクエスト</h2>

  <% if flash[:alert] %>
    <div class="mb-4 text-red-600 font-semibold"><%= flash[:alert] %></div>
  <% end %>

  <%= form_with url: team_join_requests_path, method: :post, local: true do |form| %>
    <%= hidden_field_tag :token, @token %>

    <div class="mb-4">
      <%= form.label :message, "情報", class: "block font-medium" %>
      <%= form.text_field :message, maxlength: 255, class: "w-full border rounded p-2",  placeholder: "例）4年WRの西岡です。よろしくお願いします。" %>
    </div>

    <%= form.submit "リクエストを送信", class: "bg-blue-600 text-white px-4 py-2 rounded" %>
  <% end %>

  <%= link_to "キャンセル", root_path, class: "text-gray-500 hover:underline mt-4 inline-block" %>
</div>
